/* header css */
#header-wrapper {
  background-image: url(../images/bg-image1.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.header-mask {
  height: 100vh;
  background-color: hsla(200, 45%, 73%, 0.459);
}

.header-container {
  margin: 0 150px;
}

.header-container > h1 {
  color: hsl(200, 40%, 70%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 25vh;
}
/* header css */

/* About me btnアニメーション */
.animation1 {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 2px solid rgba(70, 2, 0, 0.678);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

.animation1 a {
  font-family: arial;
  font-size: 12px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: all .10s ease;
  z-index: 2;
  position: relative;
}

.effect1 {
  width: 140px;
  height: 50px;
  top: -2px;
  left: -140px;
  background:#bbbbbbc9;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}

.animation1:hover .effect1 {
  left: 0;
}

.animation1:hover a {
  color: rgb(70, 2, 0);
}
/* About me btnアニメーション */

/* main1 */
#main1-wrapper {
  background-color: hsla(228, 29%, 97%, 0.459);
}

.main1-contents {
  padding: 17vh 40px;
}

.main1-content {
  text-align: center;
}

.main1-content p {
  color: #0f0f44;
  font-family: fantasy;
  font-size: 20px;
}

.main1-content h1 {
  color: black;
  font-family: serif;
}

.contents {
  display: flex;
}

.image1 {
  border-radius: 50%;
  margin: 0 25px;
}

.tittle {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.text1 {
  font-family: serif;
  margin-bottom: 5px;
}

.text2 {
  font-family: serif;
  margin-bottom: 5px;
}

/* skill btn アニメーション */
.animation2 {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 2px solid rgba(25, 16, 87, 0.514);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

.animation2 a {
  font-family: arial;
  font-size: 12px;
  color: rgba(25, 16, 87, 0.74);
  text-decoration: none;
  line-height: 50px;
  transition: all .10s ease;
  z-index: 2;
  position: relative;
}

.effect2 {
  width: 140px;
  height: 50px;
  top: -2px;
  right: -140px;
  background:#4b48486b;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}

.animation2:hover .effect2 {
  right:0;
}
.animation2:hover a {
  color: rgb(48, 8, 7);
}
/* main1 */

/* main2 */
.skill {
  background: #f9f9f9;
}

.skill.common_section {
  /* border: 1px solid #3c9796; */
  padding: 10px 30px;
}

.skill .skill_content table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: white;
}

.skill .skill_content table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.skill .skill_content table tr:hover {
  background-color: #d4f0fd;
}

.skill .skill_content table th, .skill .skill_content table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.skill .skill_content table td {
  background-size: 25px;
  background-position: left 70px center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.skill .skill_content table td.icon.html {
  background-image: url(../images/HTML5.png);
}

.skill .skill_content table td.icon.css {
  background-image: url(../images/css3logo.png);
}

.skill .skill_content table td.icon.js {
  background-image: url(../images/js-logo.png);
}

.skill .skill_content table td.icon.jq {
  background-image: url(../images/jQuery.png);
}

.skill .skill_content table td.icon.ruby {
  background-image: url(../images/Ruby.jpeg);
}

.skill .skill_content table td.icon.rails {
  background-image: url(../images/Rails.png);
}

.skill .skill_content table td.icon.aws {
  background-image: url(../images/AWS.png);
}

.skill .skill_content table td.icon.mysql {
  background-image: url(../images/MySQL.png);
}

.skill .skill_content table td.icon.node {
  background-image: url(../images/nodejs.png);
}
/* skill */

/* main3 */
#main3-wrapper {
  background-color: rgba(222, 231, 237, 0.452);
  width: 100vw;
}

.main3-contents {
  background-color: rgba(255, 255, 255, 0.801);
}

.main3-content {
  padding: 10px 30px;
}
.main3-title {
  text-align: center;
  margin: 5px 0;
}

.main3-title p {
  color: rgb(25, 44, 19);
  font-family: fantasy;
  font-size: 20px;
}

.main3-title h1 {
  color: black;
  font-family: serif;
}
/* main3 */

/* ポートフォリオリスト */
.portfolio-contents {
  margin: 0 5vw;
}

.portfolio-content {
  overflow: scroll;
  margin: 10px 4vw;
  padding: 10px 10px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.452);
  background-color: rgba(244, 245, 249, 0.459);
}

.portfolio-content > a {
  margin: 1vh 3vw;
  padding: 10px 0;
  border: 1px solid rgba(128, 128, 128, 0.452);
  background-color: white;
}

.portfolio {
  text-align: left;
  margin: 10px 25px;
}

.portfolio > ul > li > div {
  font-size: 13px;
}
.portfolio > ul > li {
  color: rgb(77, 44, 1);
  padding: 5px 0;
  font-family: serif;
}

.fab {
  color: purple;
}
/* main3 */

/* contact */
.contact-wrapper {
  background: #f9f9f9;
}
.contact {
  padding: 70px 5%;
  width: 40%;
  margin: auto;
  background-color: white;
}


.contact .contact_title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.contact .contact_title h2 {
  font-size: 40px;
  text-align: center;
}

.contact .contact_title p {
  text-align: center;
}

.contact form {
  height: auto;
  width: 400px;
  margin: 0 auto;
}

.contact form input {
  width: 500px;
  height: 50px;
  padding: 1px 2px;
  background: #E9CDC1;
  border-radius: 5px;
  border-style: none;
  margin: 0 auto;
}

.contact form textarea {
  width: 125%;
  height: 150px;
  background: #E9CDC1;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 20px;
}

.contact form button {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  width: 50%;
  height: 50px;
  color: white;
  border-style: none;
  background: black;
  -webkit-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}

.contact form button:hover {
  background: #e65f78;
}

.contact .check_posi {
  position: relative;
}

.contact .check {
  /* border: 1px solid #3c9796; */
  width: 20px;
  height: 20px;
  position: relative;
  top: -24px;
  left: 200px;
}
/* contact */