/* ハンバーガーメニュー */
/* nav */
nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.open nav {
  background-color: #ffffff;
  right: 0;
  opacity: .8;
}
nav .inner {
  padding: 25px;
  font-family: fantasy;
  /* border: solid 1px rgb(15, 236, 236); */
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: .5s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 767px) {
  nav {
    right: -220px;
    width: 220px;
  }
}
/* toggle_btn */
.toggle_btn {
  display:block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: hsl(200, 40%, 70%);
  border-radius: 4px;
  transition: all .5s;
}
/* 擬似要素↓ */
/* nth-child...最初から何番目のもの nth-last-child...最後から何番目のもの */
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
  opacity: 0;
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
  opacity: 0;
}
/* 擬似要素↑ */
/* mask */
#mask{
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(90, 110, 125);
  opacity: .5;
  z-index: 2;
  cursor: pointer;
}
/* ハンバーガーメニュー */

/* header */
#header-wrapper {
  background-image: url(../images/bg-image1.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.header-mask {
  height: 100vh;
  background-color: hsla(200, 45%, 73%, 0.459);
}

.header-container {
  margin: 0 150px;
}

.header-container > h1 {
  color: hsl(200, 40%, 70%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 25vh;
}
/* header css */

/* About me btnアニメーション */
.animation1 {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 2px solid rgba(70, 2, 0, 0.678);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

.animation1 a {
  font-family: arial;
  font-size: 12px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: all .10s ease;
  z-index: 2;
  position: relative;
}

.effect1 {
  width: 140px;
  height: 50px;
  top: -2px;
  left: -140px;
  background:#bbbbbbc9;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}

.animation1:hover .effect1 {
  left: 0;
}

.animation1:hover a {
  color: rgb(70, 2, 0);
}
/* About me btnアニメーション */

/* main1 */
#main1-wrapper {
  background-color: hsla(228, 29%, 97%, 0.459);
}

.main1-contents {
  padding: 17vh 40px;
}

.main1-content {
  text-align: center;
}

.main1-content p {
  color: #0f0f44;
  font-family: fantasy;
  font-size: 20px;
}

.main1-content h1 {
  color: black;
  font-family: serif;
}

.contents {
  display: flex;
}

.image1 {
  border-radius: 50%;
  margin: 0 25px;
}

.tittle {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.text1 {
  font-family: serif;
  margin-bottom: 5px;
}

.text2 {
  font-family: serif;
  margin-bottom: 5px;
}
/* main1 */

/* skill btn アニメーション */
.animation2 {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 2px solid rgba(25, 16, 87, 0.514);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

.animation2 a {
  font-family: arial;
  font-size: 12px;
  color: rgba(25, 16, 87, 0.74);
  text-decoration: none;
  line-height: 50px;
  transition: all .10s ease;
  z-index: 2;
  position: relative;
}

.effect2 {
  width: 140px;
  height: 50px;
  top: -2px;
  right: -140px;
  background:#4b48486b;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}

.animation2:hover .effect2 {
  right:0;
}
.animation2:hover a {
  color: rgb(48, 8, 7);
}
/* main1 */

/* main2 */
.skill {
  background: #f9f9f9;
}

.skill_title.common_subtitle {
  text-align: center;
}

.skill_title.common_subtitle p {
  font-family: fantasy;
  font-size: 20px;
}

.skill_title.common_subtitle h1 {
  color: black;
  font-family: serif;
  /* border: 1px solid #3c9796; */
}

.skill.common_section {
  padding: 10px 30px;
}

.skill .skill_content table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: white;
}

.skill .skill_content table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.skill .skill_content table tr:hover {
  background-color: #d4f0fd;
}

.skill .skill_content table th, .skill .skill_content table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.skill .skill_content table td {
  background-size: 25px;
  background-position: left 70px center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.skill .skill_content table td.icon.html {
  background-image: url(../images/HTML5.png);
}

.skill .skill_content table td.icon.css {
  background-image: url(../images/css3logo.png);
}

.skill .skill_content table td.icon.js {
  background-image: url(../images/js-logo.png);
}

.skill .skill_content table td.icon.jq {
  background-image: url(../images/jQuery.png);
}

.skill .skill_content table td.icon.ruby {
  background-image: url(../images/Ruby.jpeg);
}

.skill .skill_content table td.icon.rails {
  background-image: url(../images/Rails.png);
}

.skill .skill_content table td.icon.aws {
  background-image: url(../images/AWS.png);
}

.skill .skill_content table td.icon.mysql {
  background-image: url(../images/MySQL.png);
}

.skill .skill_content table td.icon.node {
  background-image: url(../images/nodejs.png);
}
/* main2 */

/* main3 */
#main3-wrapper {
  background-color: rgba(222, 231, 237, 0.452);
  width: 100vw;
}

.main3-contents {
  background-color: rgba(255, 255, 255, 0.801);
}

.main3-content {
  padding: 10px 30px;
}
.main3-title {
  text-align: center;
  margin: 5px 0;
}

.main3-title p {
  color: rgb(25, 44, 19);
  font-family: fantasy;
  font-size: 20px;
}

.main3-title h1 {
  color: black;
  font-family: serif;
}

/* ポートフォリオリスト */
.portfolio-contents {
  /* margin: 0 5vw; */
}

.portfolio-content {
  overflow: scroll;
  margin: 10px 4vw;
  padding: 10px 10px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.452);
  background-color: rgba(244, 245, 249, 0.459);
  align-items: center;
}

.portfolio-content > a {
  width: 300px;
  height: 200px;
  margin: 1vh 3vw;
  padding: 10px 0;
  border: 1px solid rgba(128, 128, 128, 0.452);
  background-color: white;
}

.portfolio {
  text-align: left;
  margin: 10px 25px;
}

.portfolio > ul > li > div {
  font-size: 13px;
}
.portfolio > ul > li {
  color: rgb(77, 44, 1);
  padding: 5px 0;
  font-family: serif;
}

.fab {
  color: purple;
}
/* ポートフォリオリスト */
/* main3 */

/* contact */
#contact-wrapper {
  background: #f9f9f9;
}
.contact {
  padding: 70px 5%;
  width: 40%;
  margin: auto;
  background-color: white;
}

.contact .contact_title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.contact .contact_title p:first-child {
  color: rgb(25, 44, 19);
  font-family: fantasy;
  font-size: 20px;
}

.contact .contact_title h1 {
  text-align: center;
  color: black;
  font-family: serif;
}

.contact .contact_title p {
  text-align: center;
}

.contact form {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.contact form input {
  width: 100%;
  height: 30px;
  padding: 1px 2px;
  background: #E9CDC1;
  border-radius: 5px;
  border-style: none;
  margin: 0 auto;
}

.contact form textarea {
  width: 100%;
  height: 150px;
  background: #E9CDC1;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 20px;
}

.contact form button {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  width: 50%;
  height: 50px;
  color: white;
  border-style: none;
  background: black;
  /* ? */
  /* -webkit-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0; */
  /* ? */
}

.contact form button:hover {
  background: #e65f78;
}

.check_posi {
  margin-bottom: 30px;
  /* border: 1px solid #3c9796; */
}

.contact .check {
  width: 20px;
  height: 20px;
}
/* contact */

/* footer */
.footer-wrapper {
  background-color: rgba(190, 133, 143, 0.507);
  width: 100vw;
}

.footer-mask {
  background-color: rgba(255, 255, 255, 0.801);
}

.footer-content {
  text-align: center;
  padding: 10px 0;
}

.footer-address {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 40%;
  border-bottom:  1px solid rgba(0, 0, 0, 0.616);
}

.footer-address > p {
  align-self: flex-end;
  font-family: fantasy;
  font-size: 21px;
  color:  rgb(61, 8, 6);
}

.footer-address > h3 {
  align-self: flex-start;
  font-weight: bold;
}

.git-hub {
  margin-right: 10vw;
}

.footer-content > a > i {
  color: black;
}

.footer1-wrapper {
  background-image: url(../images/bg-img2.jpg);
  width: 100vw;
  background-size: cover;
}

.footer1-mask {
  background-color: rgba(193, 198, 212, 0.459);
}

.footer1-mask > p {
  text-align: center;
  font-size: 15px;
  padding: 45px 0;
  opacity: 0.6;
}
/* footer */